.about-container {
    width: 95%;
    margin-top: 50px;
    margin-left: 50px;
}

.about-image {
    position: relative;
    float: right;
    width: 420px;
    height: auto;
    margin-right: 50px;
}
.about-title {
    position: relative; 
    width: 180px;
    height: auto;
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    margin-left: 25%;
}

.about-p1 {
    position: relative; 
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: auto;
    height: auto;
}

.about-p2 {
    position: relative; 
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: auto;
    height: auto;
}