.contact-title {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
}

.contact-container {
    width: 50%;
    margin: 1vw auto;
    text-align:center;
    position:relative;

}

.contact-img img{
    max-width: 10vw;
    padding: 1vw;
}

.s-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}