

header {
    width: 98%;
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 18px;
}

.container {
    position: relative;
    margin:0 auto;
    clear:left;
    z-index: 0;
    flex-wrap: wrap;
    flex-direction: row; 
    display: flex;
    align-items: center;
    }

img {
    position: relative;
    float: left;
}

.name {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

nav {
    width: auto;
    height: auto;
    margin: 0 0 0 auto;
    position: relative;
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    
  }

nav a {
    margin-left: 32px;
    margin-right: 32px;
    text-decoration: none;
    color: #000000;
}