.navbar {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    top: 0px;
}

.container {
    position: relative;
    margin:0 auto;
    clear:left;
    flex-wrap: wrap;
    flex-direction: row; 
    display: flex;
    align-items: center;
}

.container img {
    display: flex;
    width: 5vw;
}

.name {
    font-family: 'Hanuman';
    font-style: bold;
    font-weight: 400;
    font-size: 2.5vw;
    /* line-height: 70px; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}

nav {
    width: auto;
    height: auto;
    margin: 0 0 0 auto;
    position: relative;
    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
  }

nav a {
    margin-left: 32px;
    margin-right: 32px;
    text-decoration: none;
    color: #000000;
    font-size: 1.5vw;
}

/* .links {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 0;

    line-height: 70px;
    margin-left: 10px;
} */